 th {text-align: center;}
 td {text-align: center;}
 a {margin-left:10px;}
  #headerspec { text-align:center; 
                border-bottom:2px solid; margin-bottom:10px;}
  #linkspec { text-align:left; 
                border-bottom:2px solid; margin-bottom:10px;}
  #footerspec  {text-align:center; border-top:2px solid; margin-top:20px; clear:both;}