 th {text-align: center;}
 td {text-align: center;}
 table.bev
    {width:70%;
     margin-left:15%;
     margin-right:15%
     } 
 a {margin-left:10px;}
  #headerspec { text-align:center; 
                border-bottom:2px solid; margin-bottom:0px;padding:0px;font-family:AveriaSerif;font-weight:bold;}
  #linkspec { text-align:left;
                border-bottom:2px solid;margin-bottom:10px; padding:2px;}
  #footerspec  {text-align:center; border-top:2px solid; margin-top:20px; clear:both;}
  @font-face {
      font-family: AveriaSerif;
      src:url(Font/AveriaSerif-Regular.ttf);	
             }  
  @font-face {
      font-family: AveriaSerif;  font-weight: bold;
      src:url(Font/AveriaSerif-Bold.ttf)	
           } 
  @font-face {
      font-family: AveriaSerif;    font-style:italic; 
      src:url(Font/AveriaSerif-Italic.ttf);	
             }  
  @font-face {
      font-family: AveriaSerif; font-weight: bold; font-style:italic;
      src:url(Font/AveriaSerif-BoldItalic.ttf)	
           }   
  a:link {color:blue;}
  a:visited {color:brown;}
  a:hover {font-weight:bold;}
  a:active{text-decoration:none;}
