 th {text-align: center;}
 td {text-align: center;}
 a {margin-left:10px;}
  #headerspec { text-align:center; 
                border-bottom:2px solid; margin-bottom:10px; font-family:AveriaSerif}
  #linkspec { text-align:left; 
                border-bottom:2px solid; margin-bottom:10px;}
  #footerspec  {text-align:center; border-top:2px solid; margin-top:20px; clear:both;}
  @font-face {
      font-family: AveriaSerif;
      src:url(Font/AveriaSerif-Regular.ttf);	
             }  
  @font-face {
      font-family: AveriaSerif;
      src:url(Font/AveriaSerif-Regular.ttf)	
      font-weight: bold;
           } 
  @font-face {
      font-family: AveriaSerif;
      src:url(Font/AveriaSerif-Italic.ttf);
      font-style:italic; 	
             }  
  @font-face {
      font-family: AveriaSerif;
      src:url(Font/AveriaSerif-BoldItalic.ttf)	
      font-weight: bold; font-style:italic; 
           }   