
  h3 {text-align: center;}
   h4 {text-align: center;}
    p {text-align: center;}
   th {text-align: center; font-weight:bold;}
   td {text-align: center;}
  @font-face {
      font-family: CaviarDreams;
      src:url(Font/CaviarDreams.ttf);	
             }  
  @font-face {
      font-family: CaviarDreams;
      src:url(Font/CaviarDreams_Bold.ttf)	
      font-weight: bold;
           }  
  @font-face {
      font-family: CaviarDreams;
      src:url(Font/CaviarDreams_Italic.ttf)	
      font-weight: normal;  font-style:italic;
           }
  @font-face {
      font-family: CaviarDreams;
      src:url(Font/CaviarDreams_BoldItalic.ttf)	
      font-weight: bold;  font-style:italic;
           }
  #newfont {font-family:CaviarDreams;}